extend layout
        
block content
    h1 #{title}
    form(method='POST', action='/post/edit')
        #form-group
            label Title:
            input.form-control(name='title', type='text', value=posts.title)
        #form-group
            label Author:
            input.form-control(name='author', type='text', value=posts.author)
        #form-group
            label Body:
            textarea.form-control(name='body') #{posts.body}
        input(type='hidden', name='id', value=posts._id)
        br
        input.btn.btn-primary(type='submit', value='Submit')
        