extend layout
        
block content
    h1 #{posts.title}
    h5 Written by #{posts.author}
    p #{posts.body}
    hr
    a.btn.btn-success(href='/post/edit/' + posts._id) Edit
    a.btn.btn-danger.delete-article(href='#', data-id=posts._id) Delete